<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>

<body>
    <% if (success_msg) { %>
        <p><%= success_msg %></p>
    <% } %>

    <% if (error_msg) { %>
        <p><%= error_msg %></p>
    <% } %>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</body>

</html>
